:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-color: #00274E;  
  --orange: #FABC3F;
  --ecard-color: #001F3F;
  --card-border-color: #747474;
  --card-inner-bg: #DADADA;
  --font: "Roboto condensed",sans-serif;
  --tech-bg: #484848;
}

